{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <!-- DATA TABLE -->
        {% if movie %}
        <h2 class="heading-title m-b-35">{{movie.Name}}</h2>
        <div>
            <img src="/media/{{movie.poster}}" height="300" width="300">
        </div>
        <div>
            <p class="director-note">
                {{movie.About}}
             </p>
        </div>
        
        
        <h3 class="title-3 m-b-45">Director: {% for director in directors %}
        <a href="/imdb/director/{{director.id}}/">{{director.Name}}</a></h3>
        {% endfor %}
        <h3 class="title-5 m-b-45">Actors</h3>
        <div class="table-responsive table-responsive-data2">
            {% if cast %}
            <table class="table table-data2">
                <thead>
                <tr>
                    <th>Actor id</th>
                    <th>Name</th>
                    <th>Remuneration</th>
                    <th>Role (S)</th>
                    <th></th>
                </tr>

                </thead>
                <tbody>
                {% for cast,roles,actor in cast %}
                <tr class="tr-shadow">
                    <td>{{actor.id}}</td>
                    <td >
                        <a href="/imdb/actor/{{actor.id}}/">{{actor.Name}}</a>
                    </td>
                    <td>{{cast.remuneration}}</td>
                    <td>
                    {% comment %} {{roles}}<br> {% endcomment %}
                    {% for actor in roles %}
                    {{actor.Role}}<br>
                    {% endfor %}
                       
                    </td>
                </tr>
                <tr class="spacer"></tr>
                {% endfor %}
                </tbody>
            </table>
            {% else %}
            No Actors Found
            {% endif %}
            {% else %}
        Movie Data Not Available
        {% endif %}
        </div>
        <!-- END DATA TABLE -->
    </div>
</div>

{% endblock %}